html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    background-color:black;
    
}

.Detailed-dev-sub{
    height: 30px;
    margin: 5px;
    width: 170px;
    color: white;
    top: 10px;
    position: relative;

}
.titleaboutme{
    color: #fff;
    text-align: center;
    margin: 15px;
    top: 10px;
    position: relative;
}
.firs-title, .third-title{
    color: #fff;
    margin: 15px;
    top: 10px;
    position: relative;
    text-align: center;
    
}

.firs-title-learn, .third-title-ele{
    color: #fff;
    margin: 1px;
    top: 10px;
    position: relative;
}
.third-title-ele{
    left: 30px;

}
.firs-title-learn{
    width: 170px;
}
.titledev{
    color: #fff;
    text-align: center;
    height: 40px;
}
.second-title-ti, .Ingles-content, .second-title-office{
    color: #fff;
    text-align: center;
    width: 100px;
    left: 30px;
    position:relative;
    margin: 1px;
    height: 30px;
    top: 15px;    
}
.Ingles-content{
    top: 9px;    
}
.second-title-ti{
    top: 25px; 
}
.second-title-office{
    top: 1px; 
}
.inner_title{
    color: #fff;
    text-align: center;
    font-size: 15px;
    width: 170px;
    margin: 7px;
    position: relative;
    top: 5px;
}

/*Container para toda a pagina*/
#all_scope{
    width: 100%;
    height: 100%;
    display: block;
}




/*Barra inicial de navegação*/
#top-bar{
    overflow: hidden;
    top: 0;
    left: 0;
   
    height:150px;
    width: 300px;
    text-align: center;
  
}



/* Imagem estilo do logo*/
#logo-img{
    height: 60px;
    border: 5px;
    padding: 5px;
  
}
/*Header to hold some contents*/
.header{
    width:100%;
    height: 100px;  
    position: absolute;
}



/*links header pointer*/
.Experience_my, .About_my {
    cursor: pointer;
    float: right;
    text-decoration: none;
    color: white;
    width: 190px;
    top: 20px;
    height: 35px;
    margin: 50px;
    text-align: center;
    position: relative;
    font-weight: bolder;
    font-variant: small-caps slashed-zero;
    font-size: 30px;
    border-radius: 20px;
}


.Experience_my:hover ,.About_my:hover{
    color: blue;
    border-radius: 20px;
    transition: ease-in-out 0.1s;
    text-decoration: underline;
    text-underline-offset: 8px;
}


/*Aside content*/
aside{

    color: #fff;
    width: 270px;
    margin: 5px;
    padding: 5px;
 
    border-radius: 25%;
    
}

/*Aside content p*/
.my-name-outer-div p{
    color: rgb(247, 247, 247);
    font-size: 35px;
    padding: 1px;
    margin: 1px;
    font-weight: lighter;
    font-variant: small-caps;
    display: inline-block;
    cursor: default;
}

aside p{
    color: rgb(247, 247, 247);
    font-size: 15px;
    padding: 1px;
    margin: 1px;
    font-weight: lighter;
    display: inline-block;
}

#logo-wpp{
    height: 30px;
    border: 5px;
    padding: 5px;
    display: inline-block;
    position: relative;
    top: 12px;
}


#logo-email{
    height: 30px;
    border: 5px;
    padding: 5px;
    display: inline-block;
    position: relative;
    top: 12px;
}


#logo-linkdln{
    height: 30px;
    border: 5px;
    padding: 5px;
    display: inline-block;
    position: relative;
    top: 12px;
}

#linkdin-inf{
    text-decoration: none;
    color: rgb(247, 247, 247);
}

/*Slide at left side*/

#slider {
    
    position: relative;
    width: 350px;
    height: 100%;
    border-top-right-radius: 25%;
    border-bottom-right-radius:25%;
    background: linear-gradient(90deg, rgb(28, 29, 31) 25%, rgba(24,35,103,1) 94%, rgb(17, 17, 19) 100%);
    
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    
}

.slide-in {
    animation: slide-in 1.2s forwards;
    -webkit-animation: slide-in 1.2s forwards;
}

.slide-out {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}
    
@keyframes slide-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}
    
@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%); }
}

/*

 ***Use as example: https://stackoverflow.com/questions/16989585/css-3-slide-in-from-left-transition
 

*/

.outer_slider_in{
    position: relative;
    width: 300px;
    height: 100%;
}


.me-img img{
    width: 250px;
   
    height:250px;
}






/*about me div*/
.container_detalide_text{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    border-bottom: solid;
    border-color: #fffefe;
    padding: 0px;
    border-radius: 15px;

}

.trr{
    height: 1px;
    width: 100%;
    border-bottom: solid;
    border-color:white ;
}
.container_detailed, .container_detalide_text, .container_detalide_text-progress{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    border: solid;
    border-color: #fffefe;
    border-radius: 15px;
    text-align: center;
}

.container_aboutme{
    display: flex;
    gap: 10rem;
    padding: 10px;
}

.Logoaboutmescrew, .Logoaboutmedictionary, .Logoaboutpackt, .Logocurses {
    position: relative;
    height: 20px;
    top: 1px;
    left: 79px;
}
.Logoaboutmescrew{
    top: -14px;
}
.Logoaboutpackt{
    top: -14px;
}
.Logocurses{
    left: 5px;
    height: 20px;
}
.Logoaboutele{
    position: relative;
    height: 20px;
    top: -14px;
    left: 60px;
}
.Logoaboutmedictionary{
    top: -14px;
}
.Logoaboutme{
    position: relative;
    height: 20px;
    top: 8px;
   
}






.foot p{
    margin: 0px;
    font-weight: lighter;
    font-variant: small-caps;
    width: 100%;
    margin: 0px;
    
    cursor: default;
}
.foot{
    width: 100%;
    color: #fff;
    height: 50px;
    margin: 0px;
    position: absolute;
    text-align: center;
}








#toggle{
    display: block;
}


