html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    background-image: url("../Images/gradient_1.jpg");  
}
p{
    color: white;
}
h4{
    color: white;
    text-align: center;
    margin: 2px;
}
.Detailed-dev-sub{
    height: 30px;
    margin: 5px;
    width: 170px;
    color: white;
    top: 10px;
    position: relative;

}
/*Titles sections*/
.titleaboutme, .project{
    color: #fff;
    text-align: center;
    margin: 15px;
    top: 10px;
    position: relative;
}
.titleExperience1{
    color: #fff;
    text-align: center;
    margin-top: 215px;

    position: relative;
}

.firs-title, .third-title{
    color: #fff;
    margin: 15px;
    top: 10px;
    position: relative;
    text-align: center;
    
}
.firs-title-learn{
    color: #fff;
    margin: 1px;
    width: 80px;
    position: relative;
}
 .third-title-ele{
    color: #fff;
    margin: 1px;
    width:120px;
    position: relative;
}


.titledev{
    color: #fff;
    text-align: center;
    height: 40px;
}
 .Ingles-content{
    color: #fff;
    text-align: center;
    width: 130px;
    
    position:relative;
    margin: 1px;
    height: 30px;
      
}
/*---------------------------*/

.second-title-ti{
    margin: 1px;
}
.second-title-office{
    margin: 1px;
    width: 200px;
}
.inner_title{
    color: #fff;
    text-align: center;
    font-size: 15px;
    width: 170px;
    margin: 7px;
    position: relative;
    top: 5px;
}

/*Container para toda a pagina*/
#all_scope{
    width: 100%;

    display: block;
    z-index: 1;
    position: relative;
}



/*perfil section*/
.block-about-my{
    display: block;
}



/* Imagem estilo do logo*/
#logo-img{
    position: absolute;
    height: 100px;
    border: 5px;
    padding: 5px;
  
}
/*Header to hold some contents*/
.header{
    width:95%;
    
    position: relative;
  
}

.arrow-up-outer{
    position: sticky;
    top: 0px;
    float: right;
    z-index: 100;
    height: 10px;
   
}
.arrow{
    
    text-decoration: none;
}
.arrow p{
    
    margin: 1px;
    font-size: 50px;
    cursor: pointer;
    text-decoration: none;
}

.arrow-down-outer{
    position: sticky;
    float: right;
    z-index: 101;
    position: -webkit-sticky; 
    bottom: 0;
  
}
.arrowdown{
    text-decoration: none;
}
.arrowdown p{
    margin:1px;
    transform:rotateZ(180deg);

    font-size: 50px;
    cursor: pointer;
    text-decoration: none;
    
}


  
  

/*links header pointer*/
.Experience_my, .About_my {
    cursor: pointer;
    float: right;
    text-decoration: none;
    color: white;
    width: 190px;
    top: 20px;
    height: 35px;
    margin: 50px;
    text-align: center;
    position: relative;
    font-weight: bolder;
    font-variant: small-caps slashed-zero;
    font-size: 30px;
    border-radius: 20px;
}


.Experience_my:hover ,.About_my:hover{
    color: blue;
    border-radius: 20px;
    transition: ease-in-out 0.1s;
    text-decoration: underline;
    text-underline-offset: 8px;
}


/*Aside content*/
aside{
    position: absolute;
    color: #fff;
    width: 270px;
    border-radius: 25%;
    
    
}

/*Aside content p*/
.sub-p{
    font-size: 20px;
    text-decoration:underline;
    margin: 5px;
    font-style: italic;
    padding: 5px;
}
.my-name-outer-div{
    text-align: center;
    top: 100px;
    position: relative;
}
.My-nam{
    color: rgb(247, 247, 247);
    font-size: 70px;
    padding: 1px;
    margin: 1px;
    right: 30px;
    font-weight: lighter;
    font-variant: small-caps;
    display: inline-block;
    cursor: default;
    position: relative;
}

aside p{
    color: rgb(247, 247, 247);
    font-size: 15px;
    padding: 1px;
    margin: 1px;
    font-weight: lighter;
    display: inline-block;
}

#logo-wpp{
    height: 30px;
    border: 5px;
    padding: 5px;
    display: inline-block;
    position: relative;
    top: 12px;
}


#logo-email{
    height: 30px;
    border: 5px;
    padding: 5px;
    display: inline-block;
    position: relative;
    top: 12px;
}


#logo-linkdln{
    height: 30px;
    border: 5px;
    padding: 5px;
    display: inline-block;
    position: relative;
    top: 12px;
}

#linkdin-inf{
    text-decoration: none;
    color: rgb(247, 247, 247);
}

/*Slide at left side*/


.slider_in{
   
    position: relative;
    width: 100%;
    height:500px;
 
}


.me-img img{
    width: 250px;
   
    height:250px;
}

/*about me div*/
.block-container-aboutme{
    display: block;
}
.container_detalide_text{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    border-bottom: solid;
    border-color: #fffefe;
    padding: 0px;
    border-radius: 15px;

}
.inner-detail-text-func{
    display: flex;
    flex-direction: row-reverse;
}
.inner-detail-text-func-text{
    display: flex;
}
.inner-detail-text-func-img{
    display: flex;
   
}
.inner-detail-text-TIsup{
    display: flex;
    flex-direction: row-reverse;
}
.inner-detail-text-englis{
    display: flex;
    flex-direction: row-reverse;
}
.inner-detail-text-englis-text{
    display: flex;
    align-items: center;
}
.inner-detail-text-TIsup-text{
    display: flex;
    align-items: center;
    padding-left: 50px;
}
.inner-detail-text-TIsup-img{
    display: flex;
}
.trr{
    height: 1px;
    width: 100%;
    border-bottom: solid;
    border-color:white ;
}
.container_detailed, .container_detalide_text, .container_detalide_text-progress{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    border: solid;
    border-color: #fffefe;
    border-radius: 15px;
    text-align: center;
}
.inner-detail-info{
    display: flex;
    flex-direction: row-reverse;
    gap: 2.5rem;
    padding: 5px;
}
.inner-detail-man-comp{
    display: flex;
    flex-direction: row-reverse;

}
.inner-detail-man-comp-img{
    display: flex;
    height: 50px;
   
}
.inner-detail-man-comp-text{
    display: flex;
    align-items: center;
    
}
.inner-detail-ele{
    display: flex;
    flex-direction: row-reverse;
    
}
.inner-detail-ele-text{
    display: flex;
    flex-wrap:wrap;
    align-content: center;
    padding-left: 15px;
}
.container_aboutme{
    display: flex;
    gap: 10rem;
    padding: 10px;
    justify-content: space-around;
}
.block-bottom-aboutme{
    display: block;
}
.bottom-aboutme{
    display: flex;
    flex-wrap: wrap;
    gap: 7.5rem;
    position: absolute;
    justify-content: space-around;
}

.comp-logo-most-left{
    display: flex;
    width: 50px;
    align-items: center;
}
.comp-logo-left{
    display: flex;
    width: 100px;
    justify-content: space-around;
}
.comp-logo-most-right{
    display: flex;
    width: 50px;
    align-items: center;
}
.comp-logo-right{
    display: flex;
    width: 100px;
    justify-content: space-around;
}
/*projects section */
.bottom-Qualifications a{
    display: inline-block;
  
}
.Projec1{
    text-decoration: none;
    width:194px;
    cursor: pointer;
    font-size: 13px;
}
.Projec2{
    text-decoration: none;
    width:250px;
    cursor: pointer;
    font-size: 13px;
}
.signs-afir{
    width: 250px;
    height: 50px;
    
}
.block-bottom-qualifications{
    display: block;
}
.bottom-Qualifications{
    width: 99.5%;
   background-color: black;
 
   display: flex;
   justify-content: space-evenly;
   border: solid 1px white;
}
.project1-bottom-qualif{
    background-color: #108379;

    border: solid 4px white;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    
}


.project2-bottom-qualif{
    background-color: #831010;

    border: solid 4px white;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    
}

/*--- */
.Logoaboutmescrew{
    position: absolute;
    height: 20px;
    padding: 5px;
   
}
.About_me_text{
    width: 250px;
    text-align: justify;

}

.Logoaboutpackt{
    position: absolute;
    height: 20px;
    padding-left: 5px;
    padding-bottom:5px ;
}
.Logocurses{
    
    height: 20px;
}
.Logoaboutele{
    
    height: 20px;
    padding: 5px;
    
}
.Logoaboutmedictionary{
    padding: 3px;
    height: 20px;
}
.Logoaboutme{
    position: absolute;
    height: 20px;
    padding: 5px;
   
}

.Logosignsafir{
    width: 50px;
    height: 50px;

    position: relative;
    
}
.Logosignsafir2{
    width: 50px;
    height: 50px;

    position: relative;
    
}
.Logosignsafirbottom1{
    width: 50px;
    height: 50px;
   
    position: relative;
}
.Logosignsafirbottom2{
    width: 50px;
    height: 50px;
   
    position: relative;
}
.Logosigncode, .Logosignbug{
    margin-top: 50px;
}





.foot p{
    margin: 0px;
    font-weight: lighter;
    font-variant: small-caps;
    width: 100%;
    margin: 0px;
    
    cursor: default;
}
.foot{

    width: 100%;
    color: #fff;
    
    position: relative;
    text-align: center;
}








#toggle{
    display: block;
}

/*Middle content*/
.middle_content{
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    align-content: space-around;
    justify-content: space-around;
}

.CV-content{
    display: flex;
    justify-content: space-around;
   
    border: #fff;
    
    top: 180px;
    position: relative;
}
.CV-content a{
    text-decoration: none;
}
.CV-content h1{
    font-size: 50px;
    margin: 1px;
    border-radius: 50%;
    border:solid;
    color: white;
    cursor: pointer;
    width: 100px;
}
.CV-content button{
    text-decoration: none;
  background: none;
    border: 0px;
    width: 20px;


}
.CV-content button :hover{
    color: blue;
}


.hello_prog{
    font-size: 120px;
    height: 120px;
    color: blue;
    position: relative;
    animation-name: example;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin: 0px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;

}


@keyframes example {
    0%   {left: 0px; top:0px;}
    25%  {left:-200px; top:0px;}
    50%  {left: 200px; top:0px;}
    75%  {left:-200px; top:0px;}
    100% {left: 200px; top:0px;} 
}

/*bottom content end aboutme*/

.block-calendar{
    display: block;
}
.gap1{
    margin-top: 165px;
    
}
.GitHubStatus{
    color: #fff;
    text-align: center;
    margin: 5px;
    top: -5px;
    position: relative;

}
:root {
    --color-calendar-graph-day-bg: #dddbdb;
    --color-calendar-graph-day-L1-bg: #39dd34;
    --color-calendar-graph-day-L2-bg: #45a045;
    --color-calendar-graph-day-L3-bg: #047526;
    --color-calendar-graph-day-L4-bg: #0a4208;
  }
  .ContributionCalendar-day[data-level='0'] {
    background-color: var(--color-calendar-graph-day-bg);
}

.ContributionCalendar-day[data-level='1'] {
    background-color: var(--color-calendar-graph-day-L1-bg);
}

.ContributionCalendar-day[data-level='2'] {
    background-color: var(--color-calendar-graph-day-L2-bg);
}

.ContributionCalendar-day[data-level='3'] {
    background-color: var(--color-calendar-graph-day-L3-bg);
}

.ContributionCalendar-day[data-level='4'] {
    background-color: var(--color-calendar-graph-day-L4-bg);
}

table.ContributionCalendar-grid {
    margin-bottom: 0pt;
}

table.ContributionCalendar-grid td {
    padding: 4pt;
}

table.ContributionCalendar-grid td span.sr-only {
    display: none;
}

td.ContributionCalendar-label span[aria-hidden='true'] {
    font-size: 8pt;
    left: -1pt;
}

tool-tip {
    display: none;
}

.calendar .width-full > .float-left {
    display: none;
}

.calendar {
   
    font-family: Helvetica, arial;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    text-align: center;
    margin: 0 auto;
    height:140px;
    color: white;
    background-color: black;
}


div.float-right {
    text-align: right;
    padding: 0 14px 10px 0;
    display: inline-block;
    
}

div.float-right div {
    display: inline-block;
    list-style: none;
    margin: 0 5px;
    position: relative;
    bottom: -1px;
    padding: 0;
}

div.float-right span.sr-only {
    display: none;
}

.calendar-graph {
    padding: 5px 0 0;
    height: 126px;
    text-align: center;
}



.table-column {
    display: none
}

.contrib-number {
    display:none;
}



h2.f4.text-normal.mb-3 {
    display: none;
}

#user-activity-overview{
    display:none;
}


.day-tooltip.is-visible {
    display: none;
}

caption.sr-only {
    display: none;
}
/*--------------*/

/*-------experience css field---------*/
.sub-title-Experience{
    color: #fff;
    text-align: center;
    margin: 15px;
    top: 10px;
    position: relative;
    text-decoration: underline;
}
.block-experience{
    display: block;
}
.experiences-inner{
    display: flex;
    background-color: black;
    justify-content: space-evenly;
    border: solid 1px white;
}
.experiences-inner p{
    padding:3px;
    font-weight:lighter;
    font-variant: small-caps slashed-zero;
}
.inner-firstone-title, .inner-secondtone-title{
    margin: 1px;
    font-size: 20px;
}
.inner-firstone-body, .inner-secondtone-body{
    margin: 1px;
    font-size: 12px;
}
.inner-firstone-date, .inner-secondtone-date{
    margin: 1px;
    font-size: 10px;
}
.first-one-experience{
    width: 150px;
    height: 100px;
    border: solid 4px;
    border-radius: 10%;
    border-color:white ;
    background-color: rgba(0, 0, 255, 0.24);
}
.second-one-experience{
    width: 150px;
    height: 100px;
    border: solid 4px;
    border-radius: 10%;
    border-color:white ;
    background-color: rgb(136, 16, 16);
}
.third-one-experience{
    width: 150px;
    height: 100px;
    border: solid 4px;
    border-radius: 10%;
    border-color:white ;
    background-color: rgb(23, 110, 20);
}
.forth-one-experience{
    width: 150px;
    height: 100px;
    border: solid 4px;
    border-radius: 10%;
    border-color:white ;
    background-color: rgb(102, 23, 98);
}
.fifth-one-experience{
    width: 150px;
    height: 100px;
    border: solid 4px;
    border-radius: 10%;
    border-color:white ;
    background-color: rgb(70, 109, 19);
}
/*--------------*/
/*-------reso media 1400 width---------*/
@media (max-width:1410px){
    .bottom-aboutme{
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        gap: 5.2rem;
        justify-content: space-around;
      
    }
    
}
/*-------------------------------*/
/*-------reso media 1200 width---------*/
@media (max-width:1220px){
    .bottom-aboutme{
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        gap: 2.7rem;
        justify-content: space-around;
      
    }
    
}
/*-------reso media 1000 width---------*/
@media (max-width:1025px){
    .bottom-aboutme{
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        justify-content: space-around;
        gap: 1.5rem;
      
    }
    
}
/*-----------------------------------*/
/*-------reso media 970 width---------*/
/*-------------------------------------*/
@media  (max-width:970px){
    .container_aboutme{
        gap: 3rem;
    }
    .bottom-aboutme {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        gap: 4rem;
        justify-content: space-around;
       
    }
    .comp-logo-right,  .comp-logo-left{
        display: none;
        }

}
/*-------------------------------------*/
/*-------reso media 850 width---------*/
@media  (max-width:850px){
    .ContributionCalendar-grid{
        border-spacing: 0px;
        width: 90%;
    }
    .bottom-aboutme {

        gap: 2.5rem;

       
    }
    table.ContributionCalendar-grid td{
        padding: 0px;
        
    }
    
}
/*-------------------------------------*/
/*-------reso media 700 width---------*/
@media  (max-width:750px){
    .container_aboutme{
        gap: 0.7rem;
    }
    .bottom-aboutme {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        gap: 1.5rem;
        justify-content: space-around;
       
    }
    
    .comp-logo-right,  .comp-logo-left,.comp-logo-most-right{
        display: none;
        }
   
    
     
   
}
/*-------------------------------------*/
/*-------reso media 640 width---------*/
@media  (max-width:640px){
    .container_aboutme{
        gap: 0.1rem;
    }
    .Experience_my, .About_my{
        margin: 0px;
        margin-top: 80px;
    }
    .bottom-aboutme {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        gap: 2.5rem;
        justify-content: space-around;
       
    }
    
    .comp-logo-right,  .comp-logo-left,.comp-logo-most-right, .comp-logo-most-left {
        display: none;
        }
     
     
   
}
/*-------------------------------------*/

/*----------reso media 550 width-----------------*/
@media  (max-width:580px){

    .inner-detail-info {
        display: flex;
        flex-direction: row-reverse;
        gap: 0.5rem;
        padding: 4px;
    }
    .container_detailed, .container_detalide_text, .container_detalide_text-progress {
        width: 160px;
    }
    .inner-detail-man-comp-text {
        width: 150px;
    }
    .inner-detail-ele-text  {
    padding: 0px;
   }
   aside p{
    font-size: 12px;
   }
   .About_me_text {
        width: 200px;
        text-align: justify;
    }
    .signs-afir {
        width: 150px;
        height: 50px;
    }
    aside {
        width: 230px;
    }
  
    .gap1 {
        margin-top: 220px;
    }
}
/*-------------------------------------*/